section {
  width: 100%;
}
section.profile {
  min-height: 15rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: var(--content-width);
  justify-content: center;
  gap: 1.2rem;
}
section.profile button {
  height: 3rem;
  width: auto;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  overflow: hidden;
}
section.profile button svg {
}
/* section.profile div {
  position: relative;
  width: 100%;
  max-width: 15rem;
  font-size: 1.2rem;
  min-height: 3rem;
}
section.profile div input {
  position: absolute;
  inset: 0;
  font-size: 1.2rem;
}
 */
