header {
  position: relative;
  width: 100%;
  height: 4rem;
}
nav {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.burger-button {
  width: 2.5rem;
  aspect-ratio: 1/1;
  background-color: aliceblue;
}
